* {
	margin:0;
	padding:0;
	font-family: Segoe UI, "Helvetica Neue", "Nimbus Sans L",Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #404040;
}
form {
	margin-top: 20px;
	margin-left: 20px;
}
input {
	width: 280px;
	height: 35px;
	margin-left: 30px;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #b8b8b8;
	box-shadow: inset 0px 1px 1px 0 #d9d9d9;
	text-overflow: ellipsis;
}
input,
li {
	padding: 5px;
	padding-left: 6px;
	box-sizing: border-box;
}
input:hover {
	border-top: 1px solid #959595;
}
input:focus {
	border: 2px solid #5199db;
	padding-left: 5px;
	box-shadow: none;
	outline: none;
}
input:focus::-webkit-input-placeholder {
	color: #d3d3d3;
}
input:focus::-moz-placeholder {
	color: #d3d3d3;
}
input:focus:-moz-placeholder {
	color: #d3d3d3;
}
input:focus:-ms-input-placeholder {
	color: #d3d3d3;
}
input:disabled {
	box-shadow: none;
	border-top: 1px solid #d9d9d9;
	background-color: #f1f1f1;
}
input::selection {
	background: #cae0f4;
}
input::-moz-selection {
	background: #cae0f4;
}
input::-webkit-selection {
	background: #cae0f4;
}
.error, 
.warning  {
	padding-left: 5px;
	box-shadow: none;
}
form .error {
	border: 2px solid #da0c09;
}
form .warning {
	border: 2px solid #f69c00;
}
ul,
p {
	margin-left: 73px;
}
ul {
	display: none;
	border: 1px solid #d9d9d9;
	width: 330px;
	margin-top: 1px;
	box-shadow: 0px 3px 5px 0 #d9d9d9;
}
li {
	list-style: none;
	min-height: 35px;
}
.highlited {
	background-color: #5199db;
	color: white;
}
p {
	display: none;
	color: #da0c09;
}
@font-face {
    font-family: Segoe Negreta;
    src: url(fonts/segoe-ui-negreta.ttf);
   }
span {
	font-family: Segoe Negreta, Arial, sans-serif;
	font-weight: bold;
}
.hint {
	color: #b0b0b0;
}
.hint:hover {
	background-color: white;
	color: #b0b0b0;
}
.smalltext {
	font-size: 12px;
	line-height: 16px;
	padding-top: 7px;
}